body {
	background-color: steelblue;
}

.parentDiv {
	width: 1400px;
	margin-right: auto;
	margin-left: auto;
	height: 100%;
}

.scatterDiv {
	width: 840px;
	height: 600px;
	float: right;
	background-color: whitesmoke; 
}

.graphDiv {
	width: 560px;
	height: 300px;
	float: left;
	background-color: lightblue;
}

.sunDiv {
	width: 560px;
	height: 300px;
	float: left;
	background-color: lightgrey;
}

.axis path,

.axis line {
	fill: none;
	stroke: #000;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.imageDiv {
	width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.imageDiv:hover {
	opacity: 0.8;
	/*}*/